# 9 Dictionary and Tuples

Excercise Solution

### 1. Create a list of your friend’s name and now create a list of tuples. The tuple should contain the friend’s name and length of the name. For Example: if someone’s name is Aditya, the tuple would be: (‘Aditya’, 6)

In [4]:
friends = ['Ajay', 'Akash', 'Sanjana', 'Sudhir', 'Vijay Kumar', 'setu', 'joy', 'warren']
def list_of_tuples(friends_list):
    friend_tuple = []
    for friend in friends_list:
        friend_details =  friend, len(friend)
        friend_tuple.append(friend_details)
    
    return friend_tuple

In [5]:
list_of_tuples(friends)

[('Ajay', 4),
 ('Akash', 5),
 ('Sanjana', 7),
 ('Sudhir', 6),
 ('Vijay Kumar', 11),
 ('setu', 4),
 ('joy', 3),
 ('warren', 6)]

### 2.  You and your wife argued upon expenses last night. You both want to know who is spending more in a month. Now you both go to the Little Yoda he is a good python programmer, he suggested both of you to add an entry in a dictionary when next time you spent money. So that you can have clear picture about your expenses and plan to reduce it. Both dictionaries are as below-
Your expenses - 

* Clothes - 1100
* Shoes - 1000
* Watch - 900
* Mobile Recharge - 699
* Petrol - 1980

Your Wife’s expenses - 
* Mobile Recharge - 799
* DTH recharge - 999
* Clothes - 2310
* Makeup - 3670
* Shoes - 999

A) Find out total expenses of each of you.\
B) Find out who spending more\
C) Find out in which thing you and your wife spending more

In [21]:
my_expenses = dict()
wife_expenses = dict()

In [22]:
# adding data to the dictionaries
my_expenses['Clothes'] = 100
my_expenses['Shoes'] = 1000
my_expenses['Watch'] = 900
my_expenses['Mobile Recharge'] = 699
my_expenses['Petrol'] = 1980

In [23]:
wife_expenses.update({
    "Mobile Recharge" : 799,
    "DTH recharge" : 999,
    "Clothes" : 2310,
    "Makeup" : 3670,
    "Shoes" : 999
})

In [24]:
total = 0
for expense in my_expenses.values():
    total += expense
my_expenses['total'] = total

In [25]:
my_expenses['total']

4679

In [27]:
total = 0
for expense in wife_expenses:
    total += wife_expenses[expense]
    
wife_expenses['total'] = total

In [28]:
wife_expenses['total']

8777

In [29]:
total_expsense = my_expenses['total'] + wife_expenses['total']
print(f'Total expense of both : {total_expsense}')

Total expense of both : 13456

In [30]:
if my_expenses['total'] > my_expenses['total']:
    print('you are spending more than your wife, you need to decrease your expenses')
else:
    print('you are spending more than you husband, you need to bring down the expenses')

you are spending more than you husband, you need to bring down the expenses

In [43]:
def sort_the_expenses(dictionary):
    sorted_dict = sorted(dictionary.items(), key=lambda item:item[1], reverse=True )
    # sorted_dict = sorted(dictionary.values(), reverse=True)
    # return  sorted_dict
    return sorted_dict

In [50]:
sort_the_expenses(my_expenses)

[('total', 4679),
 ('Petrol', 1980),
 ('Shoes', 1000),
 ('Watch', 900),
 ('Mobile Recharge', 699),
 ('Clothes', 100)]

In [52]:
sort_the_expenses(my_expenses)[1]

('Petrol', 1980)

In [45]:
sort_the_expenses(wife_expenses)

[('total', 8777),
 ('Makeup', 3670),
 ('Clothes', 2310),
 ('DTH recharge', 999),
 ('Shoes', 999),
 ('Mobile Recharge', 799)]

In [53]:
sort_the_expenses(wife_expenses)[1]

('Makeup', 3670)